html, body{
font-family: Arial, sans-serif;
margin: 0;
}

li{
    font-weight: bold;
}

.content {
    text-align: center;
}

.rounded-image-container {
    flex: 1;
    padding: 0 1rem;
    text-align: center;
    font-size: 2rem;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .rounded-image-container {
    flex: 1;
    padding: 0 1rem;
    text-align: center;
       }
   .action-image {
    width: 200px; 
    height: 200px;
    border-radius: 10%;
    }
   .rounded-image-container {
    flex: 1;
    padding: 0 1rem;
    text-align: center;
    font-size: 2rem;
    }
   .rounded-image {
    border-radius: 50%;
    max-width: 100%;
    box-shadow: 8px 8px 15px #ff0062 ;
    }
   .image-caption {
    font-size: 1rem;
    color: #7A2538;
    margin-top: 0.5rem;
    }

header{
background-color:lightblue;
padding: 100px;
text-align: center;
}
h1{
font-size: 60px;
color: gray;
}
header img{
border-radius: 300 ;
width: 1000px;
border: 16px solid blue;
}
.content{
max-width: 900px;
margin: 0 auto;
padding: 0 20px;
}
img.big-image{

max-width: 100%;
width: 900px;
}
ul {
    list-style:none;

}
p.cap3on{
font-size: 16px;
color: lightgrey;
font-style: italic;
}
ul{
padding: 0;
margin: 0;
}
a{
color: black;
text-decora3on: none;
}

footer{
margin-top: 20px;
padding: 40px 20px;
background-color: #E6E6E6;
}
footer ul{
text-align: center;
}
footer ul li{
display: inline-block;
margin: 0 5px;
}